
.App{
  width: 350px;
  height: 780px;
  background: #1A1B21;
  position: relative;
  border-radius: 20px;
  margin: 100px auto;

}

.Image{
  width: 300px;
  margin-left: 25px;
  height: 300px;
  position: relative;
  border-radius: 70%;
  top: 20px;
}

.Contact {
  width : 350px;
  height: 64px;
  background: #161619;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 0 0 20px 20px;
  position: absolute;
  bottom: 0;
}

